#app .v-application{
    font-family: 'Comfortaa', cursive !important;
}




.fade-enter-active, .fade-leave-active {
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter, .fade-leave-active {
    opacity: .1;
}


.loader-wrap{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination{
    flex: 0 0 auto;
    margin-top: 20px;
}
